{% extends "base.html" %}

{% block content %}
<h1>Position details </h1>

  <p>Position name: {{ position.name }}</p>
  <p>Position duties: {{ position.duties }}</p>

  <div class="ml-3">
  {% if position.worker_set.all %}
    <h2>Our workers on the position: </h2>
  {% for worker in position.worker_set.all %}
    <p> <a href="{% url "task-manager:worker-detail" pk=worker.pk %}">{{ worker.first_name }} {{ worker.last_name }} ({{ worker.username }}) </a></p>

  {% endfor %}
  </div>
  {% else %}
    <p>There are no workers for this position. </p>
  {% endif %}

{% endblock %}