{% extends "base.html" %}

{% block content %}


    <h1>
    <a href="{% url "task_manager:task-types-update" pk=tasktype.pk %}">
      Update
    </a>

    <a href="{% url "task_manager:task-types-delete" pk=tasktype.pk %}">
      Delete
    </a>
      <br>

   </h1>


  <div class="ml-3">
  {% if tasktype.task_set.all %}
    <h2>Tasks of this type: </h2>
  {% for task in tasktype.task_set.all %}
    <p> <a href="{% url "task-manager:task-detail" pk=task.pk %}"> {{ task.name }} </a></p>

  {% endfor %}
  </div>
  {% else %}
    <p> There are no tasks of this type! </p>
  {% endif %}



{% endblock %}