{% extends "base.html" %}

{% block content %}

      <h1>
    <a href="{% url "task_manager:task-update" pk=task.pk %}">
      Update
    </a>

    <a href="{% url "task_manager:task-delete" pk=task.pk %}">
      Delete
    </a>
      <br>

   </h1>



  <h1>Task Details</h1>

  <p>Task number: {{ task.pk }}</p>
  <p><strong>Task: {{ task.name }}</strong></p>
  <p> Task type: {{ task.task_type }}</p>
  <p>Task priority: {{ task.priority }}</p>
  <p>Description: {{ task.description }}</p>
  <p>Deadline: {{ task.deadline }}</p>
  <p>Is completed: {{ task.is_completed }}</p>

  <div class="ml-3">
    <h4>Employees are assigned to perform tasks:</h4>

    {% for worker in task.assignees.all %}
        <hr>
        <p>Worker: <a href="{% url "task-manager:worker-detail" pk=worker.pk %}">{{ worker.first_name }} {{ worker.last_name.name }} ({{ worker.username }})</a><strong></strong> </p>
        <p>Position: <a href="{% url "task-manager:position-detail" pk=worker.position.pk %}"> {{ worker.position }} </a></p>


    {% empty %}
      <p>No workers!</p>
    {% endfor %}
  </div>





{% endblock %}