{% extends "base.html" %}

{% block content %}
  <br>
  <a class="btn btn-success" href="{% url 'task_manager:task-create' %}" style="margin-left: 5%;">
      Create new task
  </a>
  <p></p>
    {% if task_list %}
    {% for task in task_list %}
      <a class="container" href="{% url "task_manager:task-detail" pk=task.pk %}" style="text-decoration: none;">
        <div class="card text-white bg-secondary mb-3 container" style="max-width: 70%;">
          <div class="card-header">
            № {{ task.pk }}:  {{ task.name }}
          <div class="float-right">
            <span class="container" style="color: black;">Priority: {{ task.priority }}</span>
            Deadline: {{ task.deadline }}
            {% if  task.is_completed %} ✅ {% else %} ❌ {% endif %}
          </div>
        </div>
            <div class="card-body">
              <h5 class="card-title">{{ task.description}}</h5>
            </div>
        </div>
          {% endfor %}
      </a>
    {% else %}
      <p>There are no tasks in the service.</p>
    {% endif %}
{% endblock %}
