{% extends "base.html" %}

{% block content %}


    <a href="{% url "task_manager:task-update" pk=task.pk %}">
      Update
    </a>

    <a href="{% url "task_manager:task-delete" pk=task.pk %}">
      Delete
    </a>
      <br>





  <h1>Task Details</h1>

  <p>Task number: {{ task.pk }}</p>
  <p><strong>Task: {{ task.name }}</strong></p>
  <p> Task type: {{ task.task_type }}</p>
  <p>Task priority: {{ task.priority }}</p>
  <p>Description: {{ task.description }}</p>
  <p>Deadline: {{ task.deadline }}</p>
  <p>Is completed: {{ task.is_completed }}</p>

  <div class="ml-3">
    <h4>Employees are assigned to perform tasks:</h4>

    {% for worker in task.assignees.all %}
        <hr>
        <p>Worker: <a href="{% url "task-manager:worker-detail" pk=worker.pk %}">{{ worker.first_name }} {{ worker.last_name.name }} ({{ worker.username }})</a><strong></strong> </p>



    {% empty %}
      <p>No workers!</p>
    {% endfor %}
  </div>
  <br>




    {% if task in user.task_set.all %}
      <a href="{% url 'task-manager:toggle-task-assign' pk=task.id %}">
        Delete me from this task
      </a>
    {% else %}
      <a href="{% url 'task-manager:toggle-task-assign' pk=task.id %}">
        Assign me from this task
      </a>
    {% endif %}




{% endblock %}